:root{
    --black: #191b17;
    --white: #ffffff;
    --bluewhite: #E1F2FC;
    --blue: #31a1ff;
    --cyan: #BBCBFF;
    --darkblue: #002060;
    --orange: #ef8a20;
    --yellow: #ffb247;
    --cream: #FBDEBD;
    --transition: all 0.5s ease-in-out;
}
*{
    font-family: 'Mitr',sans-serif;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: var(--bluewhite);
  }

/*header*/
.header {
    padding: 10px 16px;
    background: var(--white) ;
    color: var(--orange);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    text-align: left;
    font-weight: 800;
  }

h2{
    size: 5px;
    font-weight: 700;
    color:#31a1ff;
    margin-bottom: 15px;
}

/*-------------------------------start of my set part----------------------------------*/
/*all vocab set*/
.allset{
  /*go back to edit - it didn't have color*/
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  padding: 1 rem;  
}


.container{
  display: flex;
  flex-wrap: wrap; /*ปัดขึ้นแถวใหม่*/
  row-gap: 50px;
  column-gap: 50px;  
}

.container .addblock{
  background-color: var(--white);
  box-shadow: 4px 4px 4px -2px var(--cyan);
  padding: 15px 15px;
  min-width: 200px; height: 200px
 
}

.textInTextBox {
  text-align: center;
  padding-left : 25px;
  padding-right: 25px;
  position : relative;
  top: 45px;
}

/*delete button in every block*/
.delSet{
  background-image: url("/resource/delete.png");
  background-size: cover;
  border: none;
  cursor: pointer;
	width: 25px;
	height: 25px;
	background-color: transparent;
  position: relative;
  left: 10px;
}
.delSet:hover{
  opacity: 0.7;
}

/*edit button in every block*/
.editSet{
  background-image: url("/resource/edit.png");
  background-size: cover;
  border: none;
	position: relative;
  right: -135px;
  cursor: pointer;
	width: 25px;
	height: 25px;
	background-color: transparent;
}
.editSet:hover{
  opacity: 0.7;
}
/*learning button in every block*/
.learningSet{
  box-shadow: 3px 3px 3px -1px var(--cyan);
  background-color: var(--blue);
  color: var(--white);
  border: none;
  cursor: pointer;
  margin: auto;
  padding: 7px;
  border-radius: 10%;
  position: relative;
  top: 100px;
  right: -20px;
}

.learningSet:hover{
  box-shadow: 3px 3px 3px -1px var(--blue);
  background-color: var(--cyan);
  color: var(--darkblue);
  
}
/*practice button in every block*/
.practiceSet{
  box-shadow: 3px 3px 3px -1px var(--yellow);
  background-color: var(--orange);
  color: var(--white);
  border: none;
  cursor: pointer;
  margin: auto;
  padding: 7px;
  border-radius: 10%;
  position: relative;
  top: 100px;
  left: 30px;
}

.practiceSet:hover{
  box-shadow: 3px 3px 3px -1px var(--orange);
  background-color: var(--yellow);
  color: var(--black);
}


/*new block button*/
.btn-add-new-block{
  background-image: url("/resource/plus.png");
  background-size: cover;
  border: none;
  cursor: pointer;
	width: 30px;
	height: 30px;
	background-color: transparent;
  position: relative;
  top: 50px;  
  left: 90px;
  margin: auto;
}
.btn-add-new-block:hover{
  opacity: 0.7;
}
/*-------------------------------end of my set part----------------------------------*/

/*-------------------------------start of learning part----------------------------------*/
/*Learning part*/
.learning{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  padding: 0.5rem;
  
}

.board{
  background-color: var(--white);
  box-shadow: 4px 4px 4px -2px var(--cyan);
  padding: 25px 25px;
  min-width: 300px;
  max-width: 1000px; 
  height: 500px;
  margin: auto;
  
}
.name{
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  transform: translate(0, -30%);
  padding: 10px;
}
.number{
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  position: relative;
  transform: translate(0%, -20%);
}
.learning .vocab{
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  position: relative;
  top: 20%;
}
.learning .mean{
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  position: relative;
  top: 20%;

}

.previous{
  background-image: url("https://media.discordapp.net/attachments/963438694545621032/965610381139664966/arrow-left.png");
  background-size: cover;
  border: none;
  cursor: pointer;
	width: 40px;
	height: 40px;
	background-color: transparent;
  margin: auto;
  position: relative;
  top: 50%;
  left: 40%;


}
.next{
  background-image: url("https://media.discordapp.net/attachments/963438694545621032/965610394393657444/arrow-right.png");
  background-size: cover;
  border: none;
  cursor: pointer;
	width: 40px;
	height: 40px;
	background-color: transparent;
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;

}
/*-------------------------------ending of learning part----------------------------------*/

/*-------------------------------start of practice part----------------------------------*/
/*Practice part*/
.practicing{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  padding: 0.5rem;
}
.practicing .question{
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  position: relative;
  top: 5%;
}
.ans{
  width: 75%;
  height: 40px;
  font-size: 18px;
  text-align: center;
  position: relative;
  top: 10%;
  left: 12.5%;
}
.btn-enter{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 3px 3px 3px -1px var(--cyan);
  background-color: var(--blue);
  color: var(--white);
  border: none;
  cursor: pointer;
  margin: auto;
  padding: 10px;
  width: 30%;
  height: 10%;
  border-radius: 10%;
  position: relative;
  top: 30%;
  left: 34.75%;
}
.correct{
  position: relative;
  top: 0%;
  text-align: right;
  transform: translate(0%, 0%);
  font-size: 18px;
  font-weight: 500;
}
.correct-img{
  width: 7%; 
  height: 7%; 
  max-width: 28px; 
  max-height: 28px;
  position: relative;
  text-align: right;
  transform: translate(-20%, 30%);
}

.incorrect{
  position: relative;
  top: 1%;
  text-align: right;
  transform: translate(0%, 0%);
  font-size: 18px;
  font-weight: 500;
 
}
.incorrect-img{
  width: 7.2%; 
  height: 7.2%; 
  max-width: 30px; 
  max-height: 30px;
  position: relative;
  text-align: right;
  transform: translate(-17%, 30%);
}



/*-------------------------------ending of practice part----------------------------------*/

/*Vocab part*/
.vocabulary{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  padding: 0.5rem;
}
#content {
  padding: 0;
  width: 95%;
  margin: auto;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 0 var(--cyan);
  border-collapse: collapse;
  overflow: hidden;
}
#content > thead {
  background: var(--darkblue);
  color: white;
}
#content > thead > tr > th {
  font-weight: lighter;
  text-align: left;
}
#content td,
#content th {
  padding: 5px 10px;
  font-weight: lighter;
}
#word-to-add,
#meaning-to-add {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}
.delete-row,
#add-newrow {
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background: white;
  width: 60px;
  cursor: pointer;
}
.delete-row:hover,
#add-newrow:hover {
  background: rgb(255, 200, 105);
  color: white;
}
